header {
  background-color: purple;
  padding: 20px;
}

h1 {
  color: white;
  text-align: center;
}

section {
  display: flex;
}

article {
  background-color: aqua;
  margin: 10px;
  padding: 10px;
}